@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* GLOBAL */
html, body {
    height: 100vh;

    font-family: var(--font-titillium-web);

    background-color: var(--background-white);

}

:root {
    --font-titillium-web: 'Titillium Web', sans-serif;
    --font-amaranth: 'Amaranth', sans-serif;

    --text-color-white: #f1f1f1;
    --text-color-yellow: #D7B007;
    --text-color-green: #00463F;
    --text-color-gray: #757575;

    --background-color-yellow: #D7B007;
    --background-color-white: #FFFFFF;
    --background-white: #f1f1f1;
    --background-color-green: #00463F;
    --background-color-green-escuro: #133935;
    --background-footer-copy: #191919;
    --background-color-gray: #DCDCDC;

    --border-color-yellow: #D7B007;

    --font-size-header: 18px;
    --font-size-select: 13px;
    --font-size-select-menu: 16px;
    --font-size-botao: 13px;
    --font-size-h1: 45px;
    --font-size-h2: 25px;
    --font-size-nome-animal-h2: 20px;
    --font-size-nome-animal-p: 16px;
    --font-size-copy: 14px;
    --font-size-footer: 14px;

    --box-shadow: #26262690;

}

/* MENU */
header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-white);

    box-shadow: 0px 3px 10px -10px var(--box-shadow);

}

header .header {
    width: 70%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

header .header .img {
    width: 10%;
    height: auto;

}

header .header .img img {
    width: 100%;
    height: auto;

}

header .header nav {
    width: 70%;
    height: auto;

}

header .header nav .menu {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

header .header nav .menu a {
    padding: 1% 2%;

    font-weight: 600;

    color: var(--text-color-green);

    text-decoration: none;

    transition: color, .3s ease-in-out;

}

header .header nav .menu a:hover {
    color: var(--text-color-yellow);

}

header .header nav .menu .quero-adotar {
    border: 1px solid var(--text-color-green);
    border-radius: 5px;

}

header .header nav .menu .quero-adotar:hover {
    background-color: var(--background-color-green-escuro);

    color: var(--text-color-white);

}

header .header .login-cadastro {
    width: 20%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header .header .login-cadastro a {
    padding: 4% 7%;

    text-decoration: none;

    font-weight: 600;

    color: var(--text-color-green);

    transition: color, .3s ease-in-out;

}

header .header .login-cadastro a:hover {    
    color: var(--text-color-yellow);

}

header .header .login-cadastro a img {
    width: 60px;
    height: auto;

    border-radius: 50%;

    border: 2px solid var(--background-color-green-escuro);

}

header .header .login-cadastro a svg {
    padding: 10px;

    width: 20px;
    height: auto;

    background-color: var(--background-color-gray);

    border-radius: 5px;

    transition: background-color, color, .3s ease-in-out;

}

header .header .login-cadastro a svg:hover {
    background-color: var(--background-color-green-escuro);

    color: var(--border-color-yellow);

}

header .header .login-cadastro .cadastro {
    border: 1px solid var(--text-color-green);
    border-radius: 5px;

    background-color: var(--background-color-green-escuro);

    color: var(--text-color-white);

    transition: border, background-color, color, .3s ease-in-out;

}

header .header .login-cadastro .cadastro:hover {
    border: 1px solid var(--text-color-green);
    border-radius: 5px;

    background-color: transparent;

    color: var(--text-color-green);

}

/* FOOTER */
footer {
    width: 100%;
    height: auto;

    background-color: var(--background-color-green-escuro);

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}

footer .img {
    width: 20%;
    height: auto;

}

footer .img img {
    width: 100%;
    height: auto;

}

footer nav {
    width: 15%;
    height: auto;

    margin-top: 2.5%;

}

footer nav h2 {
    font-family: var(--font-amaranth);
    font-size: var(--font-size-h2);

    color: var(--background-color-gray);

}

footer nav .menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

footer nav .menu a {
    text-decoration: none;

    color: var(--background-color-gray);

}   

footer nav .menu .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: auto;

}

footer nav .menu .redes-sociais a {
    background-color: var(--background-color-gray);

    padding: 5%;
    margin: 5% 0% 0% 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

}

footer nav .menu .redes-sociais a svg {
    color: var(--background-color-green-escuro);

    width: 25px;
    height: auto;

}

.copy {
    padding: 1%;

    width: 98%;
    height: auto;

    background-color: var(--background-footer-copy);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-copy);
    font-family: var(--font-amaranth);
    font-weight: 600;

    color: var(--text-color-white);

}

.copy a {
    text-decoration: none;

    font-size: var(--font-size-copy);
    font-family: var(--font-amaranth);
    font-weight: 600;

    color: var(--text-color-white);

    margin-left: 0.5%;

}

/* SECTION */
section {
    margin: 2% 0%;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* SECTION HOME */
section .animais-para-adocao {
    width: 70%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

section .animais-para-adocao .select-animais {
    padding: 1% 2%;

    width: 16%;
    height: auto;

    background-color: var(--background-color-white);

    box-shadow: 0px 3px 5px -5px var(--box-shadow);

    border-radius: 5px;

}

section .animais-para-adocao .select-animais h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;

    width: 100%;
    height: auto;

    color: var(--text-color-green);

}

section .animais-para-adocao .select-animais select {
    border: none;

    width: 100%;
    height: auto;

    outline: none;

    color: var(--text-color-green);

}

section .animais-para-adocao .animal-doacao {
    width: 77%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

}

section .animais-para-adocao .animal-doacao .container {
    width: 32.33%;
    height: auto;

    margin-bottom: 1.33%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-color-white);

    box-shadow: 0px 3px 5px -5px var(--box-shadow);

    border-radius: 5px;

}

section .animais-para-adocao .animal-doacao .container .img {
    width: 100%;
    height: auto;

}

section .animais-para-adocao .animal-doacao .container .img img {
    width: 100%;
    height: auto;

    border-radius: 5px 5px 0px 0px;

    transition: filter, .3s ease-in-out;

}

section .animais-para-adocao .animal-doacao .container .img img:hover {
    filter: grayscale(90%);

}

section .animais-para-adocao .animal-doacao .conteudo {
    padding: 2% 5% 5% 5%;

    width: 90%;
    height: auto;

}

section .animais-para-adocao .animal-doacao .conteudo h2 {
    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-h2);
    font-weight: 600;

    color: var(--text-color-green);

}

section .animais-para-adocao .animal-doacao .conteudo p {
    font-size: var(--font-size-nome-animal-p);
    font-weight: 500;

    color: var(--text-color-gray);

}

/* CADASTRO USUARIO */
section .cadastro-login-usuario {
    width: 30%;
    height: auto;

}

section .cadastro-login-usuario form {
    padding: 10% 5%;

    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-color-white);

    box-shadow: 0px 3px 5px -3px var(--box-shadow);

    border-radius: 5px;

}

section .cadastro-login-usuario form h1 {
    font-family: var(--font-amaranth);
    font-size: var(--font-size-h1);
    font-weight: 700;

    color: var(--text-color-green);

}

section .cadastro-login-usuario form label {
    width: 100%;
    height: auto;

}

section .cadastro-login-usuario form label input {
    padding: 5% 2%;

    width: 96%;
    height: auto;

    border: none;

    outline: none;

    transition: border-bottom, .3s ease-in-out;

    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-p);
    font-weight: 500;

    color: var(--text-color-gray);

    border-bottom: 2px solid transparent;

}

section .cadastro-login-usuario form label input:focus {
    border-bottom: 2px solid var(--background-color-green-escuro);

}

section .cadastro-login-usuario form .botoes {
    margin-top: 5%;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

section .cadastro-login-usuario form .botoes button {
    padding: 2% 5%;

    background-color: var(--background-color-green);

    color: var(--background-color-white);

    border: none;

    border-radius: 50px;

    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-p);
    font-weight: 700;

}

section .cadastro-login-usuario form .botoes p {
    margin-top: 7%;

    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-p);
    font-weight: 700;

    color: var(--text-color-gray);

}

section .cadastro-login-usuario form .botoes p a {
    text-decoration: none;

    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-p);
    font-weight: 700;

    color: var(--text-color-green);

    transition: color, .3s ease-in-out;

}

section .cadastro-login-usuario form .botoes p a:hover {
    color: var(--text-color-gray);

}

/* PERFIL USUARIO */
section .perfil-usuario {
    padding: 0% 5%;

    width: 60%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-white);

    box-shadow: 0px 3px 5px -3px var(--box-shadow);

    border-radius: 5px;

}

section .perfil-usuario .img {
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

section .perfil-usuario .img img {
    border-radius: 50%;

    margin: 20%;
    padding: 1%;

    width: 60%;
    height: auto;

    border: 3px solid var(--background-color-green-escuro);

}

section .perfil-usuario .dados-usuario {
    width: 50%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

}

section .perfil-usuario .dados-usuario p {
    padding: 1.5% 0%;

    font-family: var(--font-amaranth);
    font-size: var(--font-size-nome-animal-h2);
    font-weight: 500;

    color: var(--text-color-gray);

}

section .perfil-usuario .dados-usuario p strong {
    font-weight: 600;

    color: var(--text-color-green);

}